.st {
    display: inline-table;
    margin: 5px;
    border: none;
    border-collapse: collapse;
}

.sr {
    height: 12px;
}

.sc {
    width: 12px;
    padding: 0px;
}

.wt {
    display: inline-table;
    margin: 5px;
    border: none;
    border-collapse: collapse;
}

.wr {
    height: 50px;
}

.wc {
    width: 50px;
    padding: 0px;
}

.cL {
    background-color: rgb(46, 73, 117);
}

.cI {
    background-color: rgb(59, 130, 246);
}

.ci {
    background-color:rgb(253, 224, 71);
}

.cl {
    background-color: rgb(244, 114, 182);
}

.cN {
    background-color: rgb(251, 146, 60);
}

.cW {
    background-color: rgb(165, 243, 252);
}

.cV {
    background-color: rgb(129, 140, 248);
}

.cS {
    background-color: rgb(239, 68, 68);
}

.cU {
    background-color: rgb(93, 99, 116);
}

.cP {
    background-color: rgb(192, 132, 252);
}

.cX {
    background-color: rgb(165, 91, 91);
}

.cY {
    background-color: rgb(74, 222, 128);
}

.btn {
    border-top: none;
}

.bts {
    border-top: 1px solid black;
}

.btd {
    border-top: 1px dotted black;
}

.bbn {
    border-bottom: none;
}

.bbs {
    border-bottom: 1px solid black;
}

.bbd {
    border-bottom: 1px dotted black;
}

.bln {
    border-left: none;
}

.bls {
    border-left: 1px solid black;
}

.bld {
    border-left: 1px dotted black;
}

.brn {
    border-right: none;
}

.brs {
    border-right: 1px solid black;
}

.brd {
    border-right: 1px dotted black;
}